@import url("https://fervent-ui.netlify.app/resources/fervent-ui/fervent-ui.css");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&family=Ubuntu:wght@300&display=swap');

@import "login.css";
@import "homepage.css";
@import "product_page.css";
@import "cart_wishlist.css";

:root {
    --primary-color: rgb(14, 160, 14);
    --secondary-color: #222725;
    --background-color: #f7f7f7;
    --white-color: white;
    --black-bg-color: rgb(34, 33, 33);
    --grey-bg-color: rgb(173, 44, 44);
    --lightgrey-color: lightgrey;
    --active-link: #cbd5e1;
}

body {
    font-family: 'Ubuntu',
    sans-serif;
    background-color: var(--background-color)
}

img {
    object-fit: contain;
}

.nav-bar {
    color: var(--white-color)
}


.heading-center {
    text-align: center;
    padding: 1rem;
    margin: 1rem;
}

.active-lnk {
    color: red
}

.slider-container {
    display:block;
}
